.DS_Store

# Python
__pycache__/
*.pyc
*.py[codz]
*$py.class
.venv/
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# Assets pesanti
asset/
*.mp4
*.mov
*.wav
*.aiff
*.mp3

# Cache/documentazione
docs/_build/
.ipynb_checkpoints/